/* main tags CSS style */

header{
    color:cc9900;
    align-content: center;
}
body{
    color:cc9900;
}
footer{
    display: block;
    text-align: center;   
}

/* classes CSS style  */

.game-background{
    background-image: url("../img/grayBG.jpg")   
}
.land-body{
    background-image: url(../img/homePage.jpg);
    background-size: 75%;
}
.home-img{
    position: relative; 
    align-items: center;
    align-self: center;
    top: 32%;
    right:73%;
    left:28%;
}
.game{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 427px;
    height: 425px;
    align-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 auto;
    border: solid #cc9900 0.5px;
    box-sizing: border-box;
    border-radius: 15px;
}
.ticTac{
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 3px solid #cc9900;
    height: 125px;
    width: 135px;
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
    flex-direction:column;
    flex-wrap: wrap;
    border-radius: 15px;
}
.btn-new{
    width:150px;
    padding:10px;
    color:white ;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border:none;
    background-color: #cc9900;
    align-items:flex-end;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    top:20px;
}
.btn-new:hover {
    background-color: #D8D8D8;
    color:black;
  }
  
.x{
    background-color: #D8D8D8;
    opacity: 0.9;
    background-image: url("../img/x_icon.png");
    background-repeat: no-repeat;
    background-position: center;
}
.o{
    background-color: #D8D8D8;
    opacity: 0.9;
    background-image: url("../img/o_icon.png");
    background-repeat: no-repeat;
    background-position: center;
}
/* IDs CSS style  */

#title-game{
    color: #cc9900;
    font-size: 40px;
    padding: 5px;
    text-align: center;
}
#land{
    color: #cc9900;
    font-size: 80px;
    padding: 5px;
    text-align: center;
}
#xoimg{
    display: flex;
    justify-content: center;
}
#playAgain{
    width:150px;
    padding:10px;
    color:white ;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border:none;
    background-color: #cc9900;
    align-items:flex-end;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    top:20px;
}
#playAgain:hover {
    background-color: #D8D8D8;
    color:black;
}
